.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.input{
    width: 166px;
}

button{
    width: 166px;
    height: 26px;
}